<!-- <p>admin-create-plan works!</p> -->
<div class="wrapper">
<div class="heading">CREATE PLAN</div> 
<form #createPlanForm="ngForm" (ngSubmit) ="createPlan(createPlanForm)" class="plan" ngNativeValidate>
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control" id="id" name="id" ngModel required maxlength="3">
    </div>

    <div class="form-group">
        <label for="name">WashpackName</label>
        <input type="text" class="form-control" id="wpName" name="wpName" ngModel required>
        <small class="text-danger">{{nameError}}</small>
    </div>

    <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" name="wpCost" id="wpCost" ngModel required>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="wpDes" name="wpDes" rows="3" ngModel required></textarea>
    </div>


    <button type="submit" class="btn btn-warning" (click)="confirmplan()">CREATE PLAN</button> &nbsp;
    <button type="button" class="btn btn-secondary" (click)="cancel()">BACK</button>

    <div *ngIf="showMsg" class="message">
        {{message}}
    </div>
  </form>
</div>