<!-- <p>admin-dashboard works!</p> -->


<div class="d-flex" id="wrapper"  [ngClass]="status ? 'toggled' : '' " >

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MENU</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink ="adminHome"><i class="bi bi-house-door-fill"></i><b> Home</b></a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="manageCustomer">
          <i><img src="/assets/images/customer.png" style="width: 23px;"></i><b> Customer Management</b></a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="manageWasher">
          <i><img src="/assets/images/car-wash.png" style="width: 30px;"></i><b> Washer Management</b></a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="adminPlans">Plans Management</a> -->
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="manageOrder">
          <i><img src="/assets/images/order.png" style="width: 23px;"></i><b> Order Management</b></a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="manageRating">
          <i class="bi bi-star-fill"></i><b> Manage Rating</b></a>  
     
      </div>
    </div>
    
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn" id="menu-toggle" (click) = "toggleClass()">
                <img src="/assets/images/bar-icon.png" style="width: 20px;background-color: white;">
            </button>
            <i><img src="/assets/images/adminda.png" style="width: 50px; margin-left: 400px;"><b>admin</b></i>
        </nav>
  
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
     
  </div>