<!-- <p>admin-all-review works!</p> -->
<h1 class="heading">All Rating Details</h1>
<div class="table-responsive mx-auto">
    <table class="table table-striped table-hover mx-auto w-auto">
        <thead>
            <tr>
              <th scope="col">UserId</th>
              <th scope="col">Status</th>
              <th scope="col">Rating</th>
              <th scope="col">Review other</th>
              <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of details; let i=index;">
              <th scope="row">{{user.washerId}}</th>
              <td>  {{user.status}} </td>
              <td> {{user.rating}} </td>
              <td> {{user.review}} </td>
              <td>
                <button class="btn btn-danger" (click)="deleteRating(user.washerId)"><i class="bi bi-trash-fill"></i> DELETE</button>  
              </td>  
            </tr>
        </tbody>
    </table>
</div>
