<div class="main-body">

    <!-- Banner image -->
    <div class="banner-img">
        <h1 class="bannerheading" style="text-align: right; padding-right:110px ; color: white;padding-top: 110px; font-size: 50px;"><b>Revolutionising
            <br> car cleaning <br>ecosystem </b></h1>
    </div>

    <!-- Heading for carousel -->
    <div class="heading">
        <p>HOW IT <b>WORKS</b></p>
    </div>

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide bg-light" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active rows" style="background-color: aqua;background-image: url(/assets/images/step1.jpg);">
              <div class="info column" style="color: white;"  >
                <!-- <i><img src="/assets/images/pack.png" style="width: 200px; opacity: 0.5; top: 0;"></i> -->
                <h2>STEP 1</h2>
                <h3>Choose a Package</h3>
                <hr>   
                <h4>Select interior, exterior, <br> mini detail or full detail service</h4>
              </div> 
              <div class="icon column">
                <!-- <i class="bi bi-box"></i> -->
                <i><img src="/assets/images/Package.png" style="width: 200px;"></i>
            </div>
          </div>
          <div class="carousel-item rows" style="background:  linear-gradient(90deg, rgb(191, 199, 75) 0%,rgb(209, 95, 60) 100%);background-image: url(/assets/images/banner-img1.jpg);">
            <div class="info column" style="color: white;">
                <h2>STEP 2</h2>
                <h3>Washer on the way</h3>
                <hr> 
                <h4>Our server locates and assigns a<br>nearby mobile car washer.</h4>
            </div>
            <div class="icon column">
                <i class="bi bi-geo-alt" style="color:red"></i>
            </div> 
          </div>
          <div class="carousel-item rows" style="background-color: yellow; background-image: url(/assets/images/washers.jpeg);background-size: cover;">
            <div class="info column" style="filter: brightness(200%); color: white;">
                <h2>STEP 3</h2>
                <h3>Wash in Progess</h3>
                <hr>  
                <h4>A fully equipped washer arrives at<br>your location to detail you car <br> to perfection.</h4>
            </div> 
            <div class="icon column">
                <i><img src="/assets/images/manwashing.png" style="width: 290px;"></i>
            </div>
          </div>
          <div class="carousel-item rows" style="background-color: greenyellow;">
            <div class="info column">
                <h2>STEP 4</h2>
                <h3>Wash Complete</h3>
                <hr> 
                <h4>Users pay, rate and tip <br> after the wash.</h4>
            </div> 
            <div class="icon column">
                <i><img src="/assets/images/clipboard.png" style="width: 200px;"></i>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
    </div>

    <!-- Cities we are in (Image Gallery) -->
    <div class="gallery">
        <!-- Heading for Gallery -->
        <div class="heading">
            <p><b>FIND US</b> HERE</p>
        </div>
        <!-- Row 1 -->
        <div class="row" style="width: 85%; margin: auto;">
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/mumbai.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>MUMBAI</b></span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/Thane.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>THANE</b></span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/Navi-mum.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>NAVI MUMBAI</b></span></div>
                </div>
            </div>
        </div>
        <br>
        <!-- Row 2 -->
        <div class="row" style="width: 85%; margin: auto;">
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/Kalyan.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>KALYAN</b></span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/Dombivli.webp" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>DOMBIVLI</b></span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/assets/images/bandra.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span><b>BANDRA</b></span></div>
                </div>
            </div>

        <!-- Button for signup -->
        <div id="gallerybutton"> 
            <span>And many more... Find out by signing up now!</span> <br> <br>
            <button type="button" class="btn btn-primary btn-lg" routerLink ="/signup">SIGN UP</button>
        </div>
        
    </div>

    <!-- Washer Details -->
    <div id="washer">
        <!-- Heading -->
        <div class="headWasher">
            <p>BECOME A <b>WASHER</b><br>
                <img src="/assets/images/washer.png" style="width: 120px;">
                <span id="title"> Be your own boss</span></p>
            
        </div>
        <hr>
        <!-- Details -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm my-auto" >
                    <img src="/assets/images/team.png" style="width: 90px;">
                    <br>
                <span id="content">Operate your own business through us. <br> You decide where,
                    <br> when and how much you work. <br>
                    Be a part of the team.
                </span> 
              </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <i>
                                <img src="/assets/images/rupees.png" style="width: 40px;">
                            </i>
                            <h2>Earn upto 10k per week</h2>
                            <span>Washer receives a car wash request approximately every 30 minutes. If you want to work, there will be work!</span>
                        </div>
                        <div class="col-sm">
                            <i class="bi bi-clock-fill" style="color: rgb(126, 117, 117);"></i>
                            <h2>Choose your own hours</h2>
                            <span>We’ll only send you job requests when you’re “online.” Your schedule is your call.</span>
                        </div>   
                    </div>
                    <br> <br>
                    <div class="row">
                        <div class="col-sm">
                            <i class="bi bi-wallet-fill" style="color:brown;"></i>
                            <h2>Get paidfast</h2>
                            <span>All payments are automatically submitted through the app, and deposited into your bank account. (Tips too!)</span>
                        </div>
                        <div class="col-sm">
                            <i class="bi bi-graph-up-arrow" style="color: orange;"></i>

                            <h2>Grow your business</h2>
                            <span>Grow your business alongside us.</span>
                        </div>   
                    </div>
               </div>
               
            </div>
            <br>
            <hr>
            <br> <br>
            <div id="washerbutton"> 
                <span>Join the network now! Click on the below button to register.</span> <br> <br>
                <button type="button" class="btn btn-dark btn-lg" routerLink ="/signup">REGISTER</button>
            </div>
        </div> 
        
    </div>

    <!-- Contact info -->
    <div class="container">
        <div class="heading">
            <p>Contact Us</p>
        </div>
        <div class="row">
            <div class="col-sm-5">
              <p>Contact us and we'll get back to you within 24 hours.</p>
               <p>
                    <i class="bi bi-geo-alt-fill"></i> &nbsp; MUMBAI, IN
              </p>
              <p>
                  <i class="bi bi-telephone-fill"></i>&nbsp; +91 1234567890
              </p>
              <p>
                  <i class="bi bi-envelope-fill"></i>&nbsp; speedwash@company.com
              </p> 
            </div>
            <div class="col-sm-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.831345859052!2d72.8235753141215!3d18.93885786119218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e0f0a26a81%3A0x87d6e47e04df3916!2sWankhede%20Stadium%20Mumbai!5e0!3m2!1sen!2sin!4v1641122756719!5m2!1sen!2sin" width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
    </div>
    

</div>
