<!-- <p>my-order works!</p> -->
<h1 class="heading"><i>Check Order Details</i></h1>
<div class="table-responsive mx-auto">
    <table class="table table-striped table-hover mx-auto w-auto">
        <thead> 
            <tr cla>
              <th scope="col">Id</th>
              <th scope="col">CarName</th>
              <th scope="col">CarModel</th>
              <th scope="col">WashPlan</th>
              <th scope="col">Date</th>
              <th scope="col">PhoneNo</th>
              
            </tr>
        </thead>
        <tbody>
            <tr class="tab" *ngFor="let user of orderDetails; let i=index;">
              <th scope="row">{{user.orderId}}</th>
              <td > {{user.carName | uppercase }} </td>
              <td > {{user.carModel | uppercase }} </td>
              <td>  {{user.wName}} </td>
              <td>  {{user.date}}  </td>
              <td> {{user.phoneNo}} </td>
            </tr>
        </tbody>
    </table>
</div>

